:root {
    --bgc: #E3E6F3;
    --font-color: #1a1a1a;
    --main-color: #088178;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4 {
    font-size: 20px;
    color: #222;
}
h6 {
    font-size: 12px;
    font-weight: 700;
}
p {
    font-size: 16px;
    color: #465B52;
    margin: 15PX 0 20PX 0;
}
.sction-p1 {
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}
img {
    width: 100%;
}

body {
    font-family: "Tajawal", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    position: relative;
}

/* container */

.container {
    padding: 0 15px;
    margin: 0 auto;
}
@media (max-width: 767px) {
    .container {
        min-width: 320px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* header */
header {
    position: sticky;
    z-index: 999;
    background-color: var(--bgc);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    height: 80px;
    top: 0;
    left: 0;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header .container .logo {
    width: 120px;
    display: flex;
    align-items: center;
}

header .container nav {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

header .container nav ul {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-right: 25px;
}

header .container nav ul a,
header .container nav .cart {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 3px;
    color: var(--font-color);
    transition: .5s;
}
header .container nav .cart {
    position: relative;
    margin-left: 10px;
}
header .container nav .cart svg {
    position: relative;
    bottom: -5px;
}

header .container nav .cart span {
    position: absolute;
    color: var(--main-color);
    right: -6px;
    top: -8px;
}
header .container nav ul a:hover,
header .container nav .cart:hover {
    color: var(--main-color);
}
header .container nav a.active {
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
}

header .container nav .toggle {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    display: none;
}

header .container nav .toggle span {
    height: 4px;
    background-color: var(--font-color);
    border-radius: 30px;
    transition: .5s;
}
header .container nav .toggle span:first-child {
    width: 70%;
}
header .container nav .toggle span:nth-child(2) {
    width: 30%;
}
header .container nav .toggle span:nth-child(3) {
    width: 50%;
}

header .container nav .toggle:hover span {
    background-color: var(--main-color);
}
header .container nav .toggle:hover span:first-child {
    width: 100%;
}
header .container nav .toggle:hover span:nth-child(2) {
    width: 50%;
}
header .container nav .toggle:hover span:nth-child(3) {
    width: 70%;
}
#close {
    display: none;
}
@media (max-width: 767px) {
    header .container nav .toggle {
        display: flex;
    }

    header .container nav ul {
        position: fixed;
        top: 0px;
        right: -0px;
        z-index: 999;
        flex-direction: column;
        gap: 25px;
        height: 100vh;
        width: 250px;
        background-color: var(--bgc);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        padding: 0;
        transition: .5s;
        transform: translateX(100%);
    }
        header .container nav ul.active {
            transform: translateX(0);
        }
    #close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 40px;
        position: relative;
        left: -100px;
        top: 10px;
        font-size: 30px;
        font-weight: 900;
        color: #fff;
        border-radius: 50px;
        background-color: var(--main-color);
        cursor: pointer;
    }
        header .container nav ul li:not(:first-child) {
            width: 100%;
            text-align: center;
            padding: 15px 0;
            border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        }
        header .container nav ul li a {
            border: none !important;
        }
}

/* ------------------------------------------ */
                /* section hero */
/* ------------------------------------------ */

.hero {
    background-image: url(../img/hero4.png);
    background-size: cover;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero .container  h4 {
    padding-bottom: 15px;
    padding-left: 20px;
}
.hero .container  h1 {
    color: var(--main-color);
    padding-left: 40px;
}

.hero .container button {
    padding: 15px 80px 15px 60px;
    background-color: transparent;
    background-image: url(../img/button.png);
    background-size: cover;
    border: none;
    outline: none;
    font-size: 25px;
    font-weight: 700;
    color: var(--main-color);
    opacity: 0.8;
    transition: .3s;
    cursor: pointer;
}
.hero .container button:hover {
    opacity: 1;
}
@media (max-width: 767px) {
    .hero .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1,
    h2,
    h4 {
        padding: 0 !important;
    }
    h4 {
        padding-bottom: 20px !important;
    }
    h1,
    h2 {
        font-size: 35px;
    }
}
/* ------------------------------------------- */
                /* featurs */                   
/* ------------------------------------------- */

.featurs {
    margin: 60px 0;
}
.featurs .container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
@media (max-width: 1170px) {
    .featurs .container {
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 35px;
    }
}

.featurs .container .featur {
    width: 170px;
    height: 200px;
    padding: 20px 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: .3s;
}
.featurs .container .featur:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.featurs .container .featur h3  {
    padding: 10px;
    text-align: center;
    color: var(--main-color);
    background-color: rgba(127, 255, 212, 0.388);
    margin-top: 20px;
}

/* ------------------------------------------- */
                /* products */                   
/* ------------------------------------------- */
.products {
    margin: 80px 0;
}
.products .main-heading {
    text-align: center;
}

.products .selection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 90px;
}

.products .selection .pro {
    width: 320px;
    padding: 15px 15px ;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: relative;
}

.products .selection .pro img {
    border-radius: 20px;
}
.products .selection .pro .des {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.products .selection .pro .des span {
    padding-top: 15px;
    font-weight: 500;
    font-size: 18px;
    color: #465B52;
}

.products .selection .pro .des h5 {
    font-size: 20px;
}

.products .selection .pro .des .stars {
    color: rgb(212, 181, 3);
}
.products .selection .pro .des h4 {
    font-size: 25px;
    font-weight: 900;
}
.products .selection .pro .border {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--bgc);
    opacity: 0.8;
    cursor: pointer;
    transition: .3s;
}
.products .selection .pro .border:hover {
    opacity: 1;
    transform: scale(1.1);
}

.products .selection .pro .border .pay {
    width: 100%;
    height: 100%;
}

.products .selection .pro .pay svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    stroke: var(--main-color);
}
@media (max-width: 1199px) {
    .products .selection .pro {
        width: 290px;
    }
    .products .selection {
        gap: calc(70px / 3);
    }
}
@media (max-width: 991px) {
    .products .selection .pro {
        flex-basis: 48%;
        margin-bottom: 20px;
    }
    .products .selection {
        gap: 2%;
        justify-content: space-evenly;
    }
}
@media (max-width: 500px) {
    .products .selection .pro {
        flex-basis: 80%;
        margin-bottom: 20px;
    }
    .products .selection {
        justify-content: space-evenly;
    }
}

/* ------------------------------------------- */
                /* repair servese */                   
/* ------------------------------------------- */

.repair {
    margin: 80px 0 ;
    background-image: url(../img/banner/b2.jpg);
    background-size: cover;
    position: relative;
    margin: 80px 0;
}
.repair::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.repair .container {
    position: relative;
    padding: 80px 0;
    width: 100%;
    text-align: center;
}

.repair .container p {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}
.repair .container h2 {
    color: #fff;
    margin: 30px 0;
}
button.spicial {
    padding: 15px 25px;
    color: var(--font-color);
    background-color: var(--bgc);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    transition: .5s;
    cursor: pointer;
}

.repair .container button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

/* ----------------------------------------- */
                /*  panars section */
/* ----------------------------------------- */

.panars {
    margin: 80px 0;
}
.panars .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
/* first-child */

.panars .container .first-child {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

.panars .container .first-child .content {
    flex-basis: calc(50% - 15px);
    padding: 60px 30px;
    height: 300px;
}

.panars .container .first-child .content h3 {
    color: #fff;
    font-weight: 200;
    font-size: 25px;
}
.panars .container .first-child .content h2,
.panars .container .first-child .content p {
    color: #fff;
}
.panars .container .first-child .content button {
    padding: 10px 20px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.panars .container .first-child .con-1 {
    background-image: url(../img/banner/b17.jpg);
    background-size: cover;
}
.panars .container .first-child .con-2 {
    background-image: url(../img/banner/b10.jpg);
    background-size: cover;
}
.panars .container .first-child .con-2 button:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);

}
.panars .container .first-child button:hover {
    transform: scale(1.1);
}
@media (max-width: 991px) {
    .panars .container .first-child  {
        flex-direction: column;
    }
    .panars .container .first-child .content {
        width: 100%;
        background-position: center right;
        text-align: center;
    }
}
/* last-child */

.panars .container .last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panars .container .last-child .con-1 {
    background-image: url(../img/banner/b7.jpg);
    width: 28%;
}
.panars .container .last-child .con-2 {
    background-image: url(../img/banner/b4.jpg);
    width: 38%;
}
.panars .container .last-child .con-3 {
    background-image: url(../img/banner/b18.jpg);
    width: 28%;
}
.panars .container .last-child .content {
    background-size: cover;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.panars .container .last-child .content h3 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.panars .container .last-child .content p {
    color: rgb(171, 28, 28);
    font-weight: 600;
    font-size: 20px;
}
@media (max-width: 991px) {
    .panars .container .last-child {
        flex-direction: column;
        height: 430px;
        position: relative;
    }
    .panars .container .last-child .content {
        height: 200px !important;
    }
    .panars .container .last-child .con-1,
    .panars .container .last-child .con-3 {
        width: 48%;
        position: absolute;
        bottom: 0;
        background-position: center center;
        text-align: center;
    }

    .panars .container .last-child .con-1 h3,
    .panars .container .last-child .con-3 h3 {
        font-size: 21px;
    }
    .panars .container .last-child .con-1 {
        left: 0;
    }
    .panars .container .last-child .con-3 {
        right: 0;
    }
    
    .panars .container .last-child .con-2 {
        width: 100%;
    }
}


/* ----------------------------------------- */
                /*  sign up section */
/* ----------------------------------------- */

.sign-up {
    background-color: #00182c;
    padding: 40px 0;
}
.sign-up .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sign-up .container h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}
.sign-up .container p {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 0;
}
.sign-up .container p span {
    color: goldenrod;
}
.sign-up .container form {
    display: flex;
    align-items: center;
}
.sign-up .container input[type="email"] {
    width: 300px;
    height: 50px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px 0 0 10px;
}

.sign-up .container input[type="submit"] {
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background-color: var(--main-color);
    font-weight: 500;
    font-size: 18px;
    border-radius: 0 10px 10px 0;
    position: relative;
    left: -4px;
}
.sign-up .container input[type="submit"]:hover {
    opacity: 0.8;
}
@media (max-width: 991px) {
    .sign-up .container {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
}
@media (max-width: 767px) {
    .sign-up .container form {
        width: 100%;
        max-width: 400px;
    }
    .sign-up .container input[type="email"] {
        width: 69%;
    }
    .sign-up .container input[type="submit"] {
        width: 29%;
    }
}

/* ----------------------------------------- */
                /*  FOOTER */
/* ----------------------------------------- */

footer {
    padding: 80px 0;
}
footer .container {
    display: flex;
    justify-content: space-between;
}
footer .container > div {
    padding: 10px;
}
@media (max-width: 991px) {
    footer .container {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    footer .container .info .follow ul {
    justify-content: center;
}
}

/* info */

footer .container .info .logo-footer img{ 
    height: 40px;
    width: auto;
}

footer .container h3 {
    margin: 15px 0;
    font-size: 20px
}
footer .container .info .contact li {
    color: black;
    font-size: 18px;
    font-weight: 500;
}
footer .info .contact address,
footer .info .contact p,
footer  a {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    color: #465B52;
    padding: 5px 0;
}

footer .container .info .follow ul {
    display: flex;
    align-items: center;
    gap: 15px;
}
footer .container .info .follow ul li a {
    color: #1a1a1a;
    font-size: 30px;
}
/* apps */
footer .apps p {
    margin: 10px 0;
    font-size: 18px;
}
footer .apps .instal {
    border-radius: 6px;
    border: 2px solid var(--main-color);
    padding: 0;
    overflow: hidden;
}
footer .apps .pay {
    width: 250px;
    margin-top: 10px;
}



/* _----------------------------------------------------- */
                        /* shop page */
/* _----------------------------------------------------- */

#shop .hero-page {
    background-image: url(../img/banner/b1.jpg);
}
.hero-page {
    height: 45vh;

    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
@media (max-width: 767px) {
    .hero-page p {
        font-size: 10px !important;
    }
}
.hero-page h2,
.hero-page p {
    color: #fff;
    scale: 1.5;
}
.pagination {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.pagination span {
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
}

/* -------------------------------------------------------------------- */
                                /* detals */
/* -------------------------------------------------------------------- */

#detals .detals {
    margin: 60px 0;
}

#detals .detals .container {
    display: flex;
    align-items: center;
    gap: 30px;
}
#detals .detals .container .slider {
    flex-basis: 40%;
}
#detals .detals .container .slider .current-img {
    width: 100%;
}

#detals .detals .container .slider .another-pro {
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
}
#detals .detals .container .slider .another-pro .small-img {
    cursor: pointer;
    flex-basis: calc((100% - 40px) / 4);
}

#detals .detals .container .text-con {
    flex-basis: calc(100% - 40% - 30px);
    position: relative;
}

#detals .detals .container .text-con h2 {
    font-size: 35px;
    font-weight: 600;
}
#detals .detals .container .text-con h4 {
    margin: 15px 0;
    font-size: 30px;
}

#detals .detals .container .text-con .order select {
    display: block;
    color: #465B52;
    margin: 10px 0;
    padding: 5px 20px;
    outline: none;
    border-radius: 3px;
    border-width: 2px;
}
#detals .detals .container .text-con .order input {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-width: 2px;
    outline: none;
    border-radius: 3px;
}

#detals .detals .container .text-con .order button {
    font-size: 20px;
    margin-left: 10px;
    font-weight: 600;
    padding: 12px 20px;
    color: #fff;
    background-color: var(--main-color);
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
}
#detals .detals .container .text-con .discription h3 {
    color: #465B52;
    font-size: 25px;
    margin: 0 0 10px 0;
}

#detals .detals .container .text-con .discription span  {
    line-height: 1.8;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 17px;
    color: #465B52;
}
@media (max-width: 767px) {
    #detals .detals .container {
        flex-direction: column;
    }
    #detals .detals .container .slider {
    width: 70%;
    }
    #detals .detals .container .text-con .discription {
        text-align: center;
        margin-top: 20px;
    }
    #detals .detals .container .text-con button {
        position: absolute;
        right: 0;

    }
}

/* ----------------------------------------- */
                    /* blog */
/* ----------------------------------------- */

#blog .hero-page {
    background-image: url(../img/banner/b19.jpg);
}
#blog .content {
    margin: 100px 0;
}
#blog .content .container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
#blog .content .container .row-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 280px;
    position: relative;
}
#blog .content .container .row-line .img-date {
    flex-basis: 40%;
    overflow: hidden;
    height: 100%;
}
#blog .content .container .row-line .text {
    flex-basis: 55%;
}
#blog .content .container .row-line h1 {
    margin: 0;
    position: absolute;
    left: 10px;
    top: -48px;
    z-index: -1;
    font-size: 70px;
    color: #cececf;
    letter-spacing: 5px;
    font-weight: 700;
}
#blog .content .container .row-line .text h3 {
    font-size: 24px;
    font-weight: 700;
}

#blog .content .container .row-line .text a {
    color: black;
    font-weight: 800;
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    transition: .3s;
}
#blog .content .container .row-line .text a::after {
    content: '';
    position: absolute;
    width: 57px;
    height: 1px;
    background-color: black;
    top: 12px;
    right: -70px;
    transition: .3s;
}
#blog .content .container .row-line .text a:hover::after {
    background-color: var(--main-color);
}
#blog .content .container .row-line .text a:hover {
    color: var(--main-color);
}

@media (max-width: 991px) {
    #blog .content .container {
        gap: 0;
    }
    #blog .content .container .row-line {
        flex-direction: column;
        height: 600px;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    #blog .content .container .row-line h1 {
        left: 50%;
        transform: translateX(-50%);
    }
    #blog .content .container .row-line .img-date {
        width: 100%;
        display: flex;
        justify-content: center;
    } 
    #blog .content .container .row-line img {
        width: auto;
        height: 100%;
    }
}

/* ---------------------------------------------------------- */
                        /* contact */
/* ---------------------------------------------------------- */

#about .hero-page,
#contact .hero-page, 
#cart .hero-page {
    background-image: url(../img/about/banner.png);
}

#about .know {
    margin: 60px 0;
}
#about .know .container,
#contact .location .container{
    display: flex;
    gap: 40px;
}
#about .know .container .img {
    flex-basis: calc(50% - 20px);
}
#about .know .container .text {
    flex-basis: calc(50% - 20px);
    position: relative;
}
#about .know .container .text abbr {
    color: #465B52;
}
#about .know .container .text marquee {
    color: #fff;
    padding: 10px 0;
    width: 100%;
    background-color: #465B52;
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 20px;
    font-weight: 600;
}
@media (max-width:991px) {
    #about .know {
        margin-bottom: 140px !important;
    }
    #about .know .container,
    #contact .location .container {
        flex-direction: column;
    }
    #about .know .container .text p,
    #about .know .container .text h1{ 
        text-align: center;
    }

    #about .know .container .text marquee {
        bottom: -60px;
    }
}

#about .video .container h1 {
    text-align: center;
}

#about .video .container h1 a {
    color: var(--main-color);
    text-decoration: underline;
}
#about .video .container video {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 60px;
}

/* ---------------------------------------------------------------- */
                                /* contact */
/* ---------------------------------------------------------------- */
#contact .location {
    margin: 60px 0;
}
#contact .location .container  {
    justify-content: space-between;
    align-items: center;
}
#contact .location .container .text {
    flex-basis: 45%;
}

#contact  p {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

#contact .location .container .text h2 {
    font-size: 35px;
    font-weight: 800;
}

#contact .location .container .text h3 {
    margin: 15px 0;
}

#contact .location .container .text ul li {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #465B52;
    margin: 10px 0;
    font-weight: 600;
}

#contact .location .container .map {
    flex-basis: 55%;
    border-radius: 20px;
    overflow: hidden;
    height: 400px;
}
#contact .location .container .map iframe {
    width: 100%;
    height: 100%;
}
@media (max-width: 991px) {
    #contact .location .container .text h2 {
        font-size: 25px;
        line-height: 1;
    }
    #contact .location .container {
        height: 900px;
    }
    #contact .location .container .map {
        height: 400px !important;
        width: 100%;
    }
}


/*  */

#contact .mail .con {
    margin: 60px 0;
    padding: 40px 20px;
    border: 1px solid var(--main-color);
    display: flex;
    align-items: center;
    gap: 30px;
}
#contact .mail .container .inputs {
    flex-basis: 70%;
}
#contact .mail .container .inputs p {
    margin: 0;
} 
#contact .mail .container .inputs h2 {
    font-size: 35px;
    margin: 10px 0;
}

#contact .mail .container .inputs form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#contact .mail .container .inputs form input,
#contact .mail .container .inputs form textarea {
    padding: 10px 10px;
    border-radius: 2px;
    outline: none;
    font-size: 18px;
    border-color: #6c6e6d70;
    width: 100%;
}
#contact .mail .container .inputs form textarea {
    height: 200px;
}
#contact .mail .container .inputs form input[type="submit"] {
    width: fit-content;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    display: flex;
    margin-left: auto;
}

#contact .mail .container .seo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: calc(100% - 70% - 30px);
    gap: 30px;
    

}

#contact .mail .container .seo .marketing {
    flex-basis: 25%;
    display: flex;
    gap: 10px;
}

#contact .mail .container .seo .marketing img {
    height: 80px;
    width: auto;
}
#contact .mail .container .seo .marketing p {
    font-size: 12px;
}
@media (max-width: 991px) {
    #contact .mail .container .seo {
        display: none;
    }
    #contact .mail .container .inputs {
        flex-basis: 100%;
        gap: 0;
    }
}

/* ------------------------------------------------------------- */
                            /* cart */
/* ------------------------------------------------------------- */

#cart .cart-sec {
    margin: 60px 0;
    overflow-x: auto;
}

#cart .cart-sec table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;

}
#cart .cart-sec table img {
    width: 70px;
}
#cart .cart-sec table td {
    width: 150px;
    text-align: center;
}
#cart .cart-sec table td:first-child {
    width: 100px;
    text-align: center;
}
#cart .cart-sec table td:nth-child(3) {
    width: 250px;
    text-align: center;
}
#cart .cart-sec table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart .cart-sec table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
#cart .cart-sec table thead td {
    padding: 18px 0;
    font-weight: 700;
    font-size: 14px;text-transform: uppercase;
}
#cart .cart-sec table tbody td {
    padding-top: 15px;
    font-size: 13px;
} 
#cart .cart-sec table tbody td .trash {
    stroke: rgba(255, 29, 29, 0.778);
    cursor: pointer;
    transition: .4s;
}
#cart .cart-sec table tbody td:hover .trash {
    stroke: rgba(243, 87, 87, 0.646);

}
.cart-add .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.cart-add .container .copons {
    width: 50%;
    margin-bottom: 30px;
}
.cart-add .container .copons h3,
.cart-add .container .subtotal h3 {
    padding-bottom: 15px;
}
.cart-add .container .copons input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
.cart-add .container .copons button,
.cart-add .container .subtotal button{
    background-color: var(--main-color);
    color: #fff;
    padding: 12px 20px;
    outline: none;
    border: none;
}
.cart-add .container .subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
.cart-add .container .subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px
}
.cart-add .container .subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

@media (max-width: 767px) {
    .cart-add .container {
        flex-direction: column;
        align-items: center;
    }
    .cart-add .container .copons,
    .cart-add .container .subtotal {
        width: 100%;
    }
}


/* alirt */

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000024;
    backdrop-filter: blur(30px);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 0;
    transition: .5s;
}

.on-top {
    z-index: 9999;
    opacity: 1;

}
.overlay .alirt {
    padding: 25px;
    width: 600px;
    background-color: #fff;
    border-radius: 50px;
    transform: scale(0.8);
    transition: .6s;
}
.plus {
    transform: scale(1.2);
}

.overlay .alirt .top-bais {
    margin-bottom: 25px;
    
}
.overlay .alirt .top-bais .circl {
    height: 120px;
    width: 120px;
    border: 7px solid #09e93e;
    border-radius: 50%;
    margin: 0 auto;
    transform: rotateY(-360deg);
    box-shadow: 0 0 50px 15px #09e93d83;
}
@keyframes rotate-y-h {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-260deg);
    }
}
@keyframes rotate-y-f {
    from {
        transform: rotateY(-260deg);
    }
    to {
        transform: rotateY(0deg) scale(1.1);

    }
}
.overlay .alirt .top-bais .circl .truth {
    width: 100%;
    height: 0%;
    position: relative;
    overflow: hidden;
}
@keyframes club {
    0% {
        height: 0%;
    }
        
    100% {
    height: 100%;
    }
}

.overlay .alirt .top-bais .circl .truth .colomn {
    position: absolute;
    left: 19%;
    top: 47%;
    transform: rotate(-35deg);
    height: 35px;
    width: 10px;
    background-color: #09e93e;
    border-radius: 20px;
}
.overlay .alirt .top-bais .circl .truth .row {
        position: absolute;
    left: 54%;
    top: 17%;
    transform: rotate(53deg);
    height: 80px;
    width: 10px;
    background-color: #09e93e;
    border-radius: 20px;
}

.overlay .alirt .confirm {
    text-align: center;
}
.overlay .alirt .confirm h2 {
    font-size: 35px;
    font-weight: 600;
    color: #04e038;
    padding-bottom: 20px;
}
.overlay .alirt .confirm p {
    font-size: 20px;
    font-weight: 600;
    color: #222;
    line-height: 1.6;
}

@media (max-width: 767px) {
    .overlay .alirt .confirm p {
        font-size: 16px;
    }
    .overlay .alirt .confirm h2  {
        font-size: 25px;
    }
}